ion-content{
    --background: rgb(235, 235, 235);
}

.main_content_div{
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);

    ion-icon{
        color: var(--ion-color-primary);
        font-size: 20px;
        padding: 10px;
    }
    .iconDiv{
        text-align: center;
        .icon{
            width: 100px;
            border-radius: 15px !important;
        }
    }
    .form_div{
        padding: 25px;
        
        position: relative;
        .main_head{
            display: block;
            color: white;
            font-weight: 600;
            font-size: 20px;
            margin: 10px;
            text-align: center;
        }
        ion-label {
            font-size: 12px;
            color: rgb(0, 0, 0) !important;
        }

        .forgot{
            display: block;
            text-align: right;
            color: white;
        }
        ion-input{
            :placeholder-shown{
                color: black;
            }
            color: black;
            background: rgb(255, 255, 255);
            border-radius: 20px;
            margin-bottom: 15px;
            --padding-start: 8px;
            --padding-end: 10px;
        }

        ion-icon{
            color:  rgb(209, 133, 0);
        }
        ion-button{
            margin-top: 25px;
            --border-radius: 25px;
            --background: rgb(209, 133, 0);
            padding-top: 1px;
            padding-bottom: 1px;
            font-weight: 600;
            font-size: 16px;
            color: white;
            font-family: muli-bold;
        }
        .tri {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 15px solid white;
            position: absolute;
            top: -15px;
        }
        .lbl{
            margin-top: 20px;
            color: white;
            display: block;
            text-align: center;
        }
    }
}