<ion-content>
  <div class="main_content_div">

    <div class="iconDiv">
      <img src="assets/img/logo.png" alt="" class="icon">
    </div>
    <div class="form_div">
      <ion-label class="main_head"> Welcome Back </ion-label>
      <ion-input type="text" placeholder="Username : user" [(ngModel)]="username">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-input type="password" placeholder="Password : user" [(ngModel)]="password">
        <ion-icon name="key" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-label class="forgot"> Forgot Password ?
      </ion-label>
      <ion-button expand="block" (click)="login()">
        <span> Login </span>
      </ion-button>
    </div>
  </div>
</ion-content>