<ion-header>
  <ion-toolbar>
    <ion-title>Avalone Employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!employees">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="employees">
    <ion-list>
      <ion-item *ngFor="let employee of employees" (click)="viewEmployee(employee.id)">
        <ion-avatar slot="start">
          <img src="assets/img/male.png" *ngIf="employee.gender == 1">
          <img src="assets/img/female.png" *ngIf="employee.gender == 0">
        </ion-avatar>
        <ion-label>
          <h2>{{employee.fName}} {{employee.lName}}</h2>
          <h3>{{employee.email}}</h3>
          <h3>{{employee.number}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
    <ion-icon name="add"></ion-icon>
    </ion-fab-button> 
    </ion-fab>
</ion-content>
