ion-toolbar{
    --background: rgb(235, 235, 235);
    color: black;
    text-align: left;
    padding-left: 50px;
}
ion-content{
    --background: rgb(235, 235, 235);
}

ion-list{
    padding-left: 10px;
    padding-left: 10px;

    ion-item{
        padding-left: 20px;
        padding-right: 20px;
    }
}

ion-fab{
  ion-fab-button{
    --background: rgb(209, 133, 0);
  }
}