<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="employees"></ion-back-button>
    </ion-buttons>
    <ion-title>Employee Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="form_div">
      <ion-label class="main_head"></ion-label>
      <ion-input [disabled]="true" type="text" [(ngModel)]="employee.fName">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-input [disabled]="true" type="text" [(ngModel)]="employee.lName">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-item >
        <ion-icon name="body" slot="icon-only" slot="start"></ion-icon>
        <ion-label>Gender</ion-label>
        <ion-select [disabled]="true" okText="Okay" cancelText="Dismiss" interface="popover" [(ngModel)]="employee.gender" style="color: black;">
          <ion-select-option value="1"> Male </ion-select-option>
          <ion-select-option value="0"> Female </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" slot="icon-only" slot="start"></ion-icon>
        <ion-label>Birthday</ion-label>
        <ion-datetime [disabled]="true" displayFormat="DD-MMM-YYYY" [(ngModel)]="employee.birthday" style="color: black;"></ion-datetime>
      </ion-item>
      <ion-input [disabled]="true" type="email" [(ngModel)]="employee.email">
        <ion-icon name="mail" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-input [disabled]="true" type="number" [(ngModel)]="employee.number">
        <ion-icon name="call" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-input [disabled]="true" type="text" [(ngModel)]="employee.address">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-item >
        <ion-icon name="man" slot="icon-only" slot="start"></ion-icon>
        <ion-label>Status</ion-label>
        <ion-select [disabled]="true" okText="Okay" cancelText="Dismiss" interface="popover" [(ngModel)]="employee.status" style="color: black;">
          <ion-select-option value="1"> Single </ion-select-option>
          <ion-select-option value="0"> Married </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="update()">
        <span> Update </span>
      </ion-button>
      <ion-button class="btn" expand="block" (click)="delete()">
        <span> Delete </span>
      </ion-button>
    </div>
  </div>
</ion-content>
