ion-toolbar{
    --background: rgb(235, 235, 235);
    color: black;
    text-align: left !important;
    font-weight: 600;
}
ion-content{
    --background: rgb(235, 235, 235);
}

.main_content_div{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);

    ion-icon{
        color: rgb(209, 133, 0);
        font-size: 20px;
        padding: 10px;
    }
    .itemBack{
        background-color: #fff;
    }
    .form_div{
        padding: 20px;
        
        position: relative;
        .main_head{
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;
            color: rgb(0, 0, 0);
            font-weight: 550;
            font-size: 16px;
            margin: 10px;
            text-align: left;
        }
        ion-input{
            color: black;
            background: rgb(255, 255, 255);
            border-radius: 25px;
            margin-bottom: 15px;
            --padding-start: 8px;
            --padding-end: 10px !important;
            padding-top: 4px !important;
            padding-bottom: 4px !important;
        }

        ion-item {
            color: white;
            border-radius: 30px !important;
            margin-bottom: 15px;
            --padding-start: 8px;
            --padding-end: 10px;

            ion-label {
                color: #999 !important;
            }
            ion-icon {
                padding: 0px !important;
            }
            
        }
        
        ion-button{
            margin-top: 15px;
            --border-radius: 25px;
            --background: rgb(209, 133, 0);
            padding-top: 0px;
            padding-bottom: 0px;
            font-weight: 600;
            font-size: 16px;
            --color: white;
            font-family: muli-bold;
        }

        .btn {
            --background: rgb(169, 74, 33);
        }
        .tri {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 15px solid white;
            position: absolute;
            top: -15px;
        }
        .lbl{
            margin-top: 20px;
            color: white;
            display: block;
            text-align: center;
        }
    }
}