<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="employees"></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="form_div">
      <ion-label class="main_head"> Please Enter Employee Details </ion-label>
      <ion-input type="text" placeholder="First Name" [(ngModel)]="fName">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-input type="text" placeholder="Last Name" [(ngModel)]="lName">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-item >
        <ion-icon name="body" slot="icon-only" slot="start"></ion-icon>
        <ion-label>Select Gender</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" interface="popover" [(ngModel)]="gender" style="color: black;">
          <ion-select-option value="1"> Male </ion-select-option>
          <ion-select-option value="0"> Female </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" slot="icon-only" slot="start"></ion-icon>
        <ion-label>Select Birthday</ion-label>
        <ion-datetime displayFormat="DD-MMM-YYYY" [(ngModel)]="birthday" style="color: black;"></ion-datetime>
      </ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email">
        <ion-icon name="mail" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-input type="number" placeholder="Mobile Number" [(ngModel)]="number">
        <ion-icon name="call" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-input type="text" placeholder="Address" [(ngModel)]="address">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-item >
        <ion-icon name="man" slot="icon-only" slot="start"></ion-icon>
        <ion-label>Select Status</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" interface="popover" [(ngModel)]="status" style="color: black;">
          <ion-select-option value="1"> Single </ion-select-option>
          <ion-select-option value="0"> Married </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="create()">
        <span> Create </span>
      </ion-button>
    </div>
  </div>
</ion-content>
